[Desktop Entry]
Encoding=UTF-8
Name=ODBC Data Source Administrator
Exec=ODBCConfig
Icon=unixODBC.png
Type=Application
Terminal=false
Categories=Qt;System
# vi: encoding=utf-8
